/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */
* {
	font-size: 12px;
	font-family: JetBrainsMono Nerd Font, sans-serif;
  font-weight: bold;
  margin: 0px 2px;
}

window#waybar {
	background-color: rgba(26,27,38,0);
  border-radius: 0;
	color: #f8f8f2;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */
#workspaces {
  /* margin: 5px 3px 5px 12px; */
  padding: 0px 1px;
  border-radius: 4px;
  border: 0px;
  color: #15161e;
}

#workspaces button {
    padding: 0px 8px;
    margin: 0;
    border-radius: 10px;
    border: 0px;
    color: #15161e;
    background-color: #2CC2E7;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: #15161e;
    background: #2CC2E7;
    border-radius: 10px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity: 1.0;
}

#workspaces button:hover {
    color: #15161e;
    background: #2CC2E7;
    opacity: 1.0;
}


/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */
tooltip {
  background: #1a1b26;
  border: 1px solid #0CE2A6;
  border-radius: 4px;
}

tooltip label {
  color: #c0caf5;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */
#window {
    color: #15161e;
    background: #2CC2E7;
    border-radius: 4px;
    padding: 0px 5px;
}

#custom-packages {
    color: #15161e;
    background: #f7768e;
    border-radius: 4px;
    padding: 0px 5px;
    /* margin: 5px;
    padding: 2px 10px; */
}

#clock {
    color: #15161e;
    background: #2CC2E7;
    border-radius: 4px;
    padding: 0px 5px;
    /* margin: 5px;
    padding: 2px 10px; */
}

#group-cpuramtemp {
    color: #15161e;
    background: #bb9af7;
    border-radius: 4px;
    padding: 0px 5px;
    /* margin: 5px;
    padding: 2px 10px; */
}

#group-battery {
    color: #15161e;
    background: #FD28FF;
    border-radius: 4px;
    padding: 0px 5px;
    /* margin: 5px;
    padding: 2px 10px; */
}

#network {
    color: #15161e;
    background: #0CE2A6;
    border-radius: 4px;
    padding: 0px 5px;
    /* margin: 5px;
    padding: 2px 10px; */
}

#pulseaudio {
    color: #15161e;
    background: #FF6B7F;
    border-radius: 4px;
    padding: 0px 5px;
    /* margin: 5px;
    padding: 2px 10px; */
}

#tray {
    color: #15161e;
    background: rgba(26,27,38,0);
    border-radius: 4px;
    padding: 0px 5px;
    /* margin: 5px;
    padding: 2px 10px; */
}
