* {
  border-radius: 0;
  border: none;
	font-family: CaskaydiaCove Nerd Font, sans-serif;
  font-weight: 600;
}

window {
	background-color: rgba(26,27,38,0.8);
  font-size: 1em;
}

#input {
  margin-bottom: 5px;
  color: white;
  font-size: 1.5em;
}

#text {
  padding: 5px;
}

#text:selected {
  color: #15161e;
}

#entry:selected {
  background-color: #2CC2E7;
  border: none;
}

#inner-box {
  margin: 5px;
}

#scroll {
  margin: 0px;
}
