* {
  border-radius: 4;
	font-family: JetBrainsMono Nerd Font, sans-serif;
  font-weight: bold;
}

window {
	background-color: #111416;
  font-size: 1em;
}

#input {
  margin: 10px 60px;
  margin-bottom: 0px;
  background-color: #111416;
  border: none;
  font-size: 1.2em;
}

#entry:drop {
  background-color: #111416;
}

#text {
  padding: 5px;
}

#text:selected {
  color: #111416;
}

#entry {
  margin: 5px;
  padding: 5px;
}

#entry:selected {
  background-color: #2CC2E7;
}

#entry:selected arrow {
  border: none;
  color: #111416;
}

#inner-box {
  margin: 10px 20px;
}

#scroll {
  margin: 0px;
}
